<h2>Funções:</h2>
<hr>

<div class="card mt-4">
    <div class="card-body">
        <h4>
            Categorias
        </h4>
        <br>
            <table>
            <tr>
                <td>
                    <a href="/admin/categorias" class="btn btn-success mt-2"> Acessar</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <h4>
            Postagens
        </h4>
        <br>
            <table>
            <tr>
                <td>
                    <a href="/admin/Postagens" class="btn btn-success mt-2"> Acessar</a>
                </td>
            </tr>
        </table>
    </div>
</div>